/operadores/nbproject/private/
/operadores/build/
/operadoresCombinadosArimtrica/nbproject/private/
/operadoresCombinadosArimtrica/build/
/operadoreIncrementoDecremento/nbproject/private/
/operadoreIncrementoDecremento/build/
/claseMath/nbproject/private/
/claseMath/build/
