/operadores/nbproject/private/
/operadores/build/
/operadoresCombinadosArimtrica/nbproject/private/
/operadoresCombinadosArimtrica/build/
/operadoreIncrementoDecremento/nbproject/private/
/operadoreIncrementoDecremento/build/
/claseMath/nbproject/private/
/claseMath/build/
/ejercicio_3/nbproject/private/
/ejercicio_3/build/
/jercicio_4/nbproject/private/
/jercicio_4/build/
/ejercicio_5/nbproject/private/
/ejercicio_5/build/
/ejercicio_6/nbproject/private/
/ejercicio_6/build/
/ejercicio_7/nbproject/private/
/ejercicio_7/build/
/ejercicio_8/nbproject/private/
/ejercicio_8/build/
/ejerciciosUniversidad/jercicio/nbproject/private/
/ejerciciosUniversidad/jercicio/build/
/ejerciciosUniversidad/ejercicio_1/nbproject/private/
/ejerciciosUniversidad/ejercicio_1/build/
