.header{
    display: inline-block;
    background-color: rgb(11, 116, 207);
    color: white;
}
.titulo{
    text-align: center;
    display: inline-block;
    width: 400px;
}

.banner{
    text-align: center;
    color: black;
    background-color: beige;
}